<ion-view view-title="Ionic Flickr">
  <ion-content class="has-header">
   <ion-list class="albums-container">
   	<ion-item class="item item-avatar" collection-repeat="album in photoList" href="#/app/gallery/{{album.id}}">
   	<img class="img-filter" src="img/nBaqq6fHSti67HDYPNfy_Inaugurazione.jpg">
    <h2>{{album.title['_content']}}</h2>
    <p>{{album.photos}} photos </p>
   	</ion-item>
   </ion-list>
  </ion-content>
</ion-view>
