<ion-view view-title="Corso Info" >
  <ion-content class="style-map-card">

   <div class="event-img">
            <img src="img/corso-pilates.jpg" width="100%" height="150">
    </div>


    <div class="event-info">
		<h4 class="event-title text-center">Ballo Liscio</h4>
	    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, cupiditate, alias.</p>
	</div>

	<div class="course-container">
		<h5 class="text-center padding">CORSO PRINCIPIANTI</h5>
			<div class = "row padding">

				<div class = "col text-left" >
			  		<p>PARABIAGO</p>
				</div>

				<div class = "col-25 text-left" >
			  		<p>Lunedì</p>
				</div>

				<div class = "col-30 text-left" >
			  		<p>21,30 – 22,15</p>
				</div>

			</div>
			<div class = "row padding">

				<div class = "col text-left" >
			  		<p>PARABIAGO</p>
				</div>

				<div class = "col-25 text-left" >
			  		<p>Mercoledì</p>
				</div>

				<div class = "col-30 text-left" >
			  		<p>20,00 – 20,45</p>
				</div>

			</div>

			<div class = "row padding">

				<div class = "col text-left" >
			  		<p>PARABIAGO</p>
				</div>

				<div class = "col-25 text-left" >
			  		<p>Venerdì</p>
				</div>

				<div class = "col-30 text-left" >
			  		<p>21,00 – 22,00</p>
				</div>

			</div>
	</div>

  </ion-content>
</ion-view>
