<ion-view view-title="Corsi">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <section class="course-container">
      <div class="row">

        <div class="col text-center course-item" ng-repeat="course in courses track by $index" href="#/app/corso-info/">
          <img src="{{course.icon}}">
          <p>{{course.name}}</p>
        </div>

      </div>
    </section>
  </ion-content>
</ion-view>
