<ion-view view-title="Corsi DB Test">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <section class = "course-container">

		<div class = "row">

			<div class = "col text-center course-item"   ng-repeat="course in locations track by $index" ui-sref="app.corso-info/{{course.id}}" >
				<img src="{{course.icon}}">
          		<p>{{course.name}}</p>
			</div>

		</div>
	</section>
  </ion-content>
</ion-view>
