<ion-view title="Eventi">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <button class="button button-positive active button-block button-small">VEDI TUTTI</button>
            <button class="button button-positive button-block button-small">PROSSIMI</button>
        </div>
        <ion-list class="event-container">
            <ion-item class="item item-avatar" ui-sref="app.evento-info">
                <img src="img/FfkUSSuTjW8s3hOLCUXa_Carnevale.jpg">
                <h2>Cernevale 2016</h2>
                <p>Sabato 13 febbraio 2016</p>
                <p class="event-time"> <i class="ion-ios-clock-outline"> </i> 21:30</p>
            </ion-item>
            <ion-item class="item item-avatar" ui-sref="app.evento-info">
                <img src="img/1fFkjopRRv2rENMsCZ7S_Halloween.jpg">
                <h2>Halloween</h2>
                <p>Sabato 31 ottobre 20150</p>
                <p class="event-time"> <i class="ion-ios-clock-outline"> </i> 21:30</p>
            </ion-item>
            <ion-item class="item item-avatar" ui-sref="app.evento-info">
                <img src="img/nBaqq6fHSti67HDYPNfy_Inaugurazione.jpg">
                <h2>Joker Dance Club</h2>
                <p>Domenica 6 settembre 2015</p>
                <p class="event-time"> <i class="ion-ios-clock-outline"> </i> 21:30</p>
            </ion-item>
            <ion-item class="item item-avatar" ui-sref="app.evento-info">
                <img src="img/FfkUSSuTjW8s3hOLCUXa_Carnevale.jpg">
                <h2>Cernevale 2016</h2>
                <p>Sabato 13 febbraio 2016</p>
                <p class="event-time"> <i class="ion-ios-clock-outline"> </i> 21:30</p>
            </ion-item>
            <ion-item class="item item-avatar" ui-sref="app.evento-info">
                <img src="img/1fFkjopRRv2rENMsCZ7S_Halloween.jpg">
                <h2>Halloween</h2>
                <p>Sabato 31 ottobre 2015</p>
                <p class="event-time"> <i class="ion-ios-clock-outline"> </i> 21:30</p>
            </ion-item>
            <ion-item class="item item-avatar" ui-sref="app.evento-info">
                <img src="img/nBaqq6fHSti67HDYPNfy_Inaugurazione.jpg">
                <h2>Joker Dance Club</h2>
                <p>Domenica 6 settembre 2015</p>
                <p class="event-time"> <i class="ion-ios-clock-outline"> </i> 21:30</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
