<ion-view view-title="Flickr Gallery">
  <ion-content class="gallery-container">
    <div class="row responsive-md">
      <div class="col col-25" ng-repeat="photo in photoList">
        <img ng-src="{{photo.sizes.sizes.size[5].source}}"  width="100%"/>
      </div>
    </div>
  </ion-content>
</ion-view>
