<ion-view view-title="Mappa delle Sedi" enable-menu-with-back-views="true">
  <ion-content class="style-map-card">

    <div id="map-sedi-container" data-tap-disabled="true"></div>

  </ion-content>
</ion-view>
