<ion-side-menus enable-menu-with-back-views="false">

  <ion-side-menu-content>

    <!-- Nav -->
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button></ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <a href="tel:+393383179645" class="button button-icon button-clear ion-ios-telephone-outline"></a>
      </ion-nav-buttons>
    </ion-nav-bar>

    <!-- Tabs -->
    <ion-tabs class="tabs-positive tabs-icon-top">
      <ion-tab title="News" icon-off="ion-clipboard" icon-on="ion-clipboard" href="#/app/news">
        <ion-nav-view name="tab-news"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Eventi" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar-outline" href="#/app/eventi" badge="3" badge-style="badge-assertive">
        <ion-nav-view name="tab-eventi"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Corsi" icon-off="ion-ios-people" icon-on="ion-ios-people" href="#/app/corsi">
        <ion-nav-view name="tab-corsi"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Serate" icon-off="ion-person-stalker" icon-on="ion-person-stalker" href="#/app/serate">
        <ion-nav-view name="tab-serate"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Gallery" icon-off="ion-images" icon-on="ion-images" href="#/app/albums">
        <ion-nav-view name="tab-albums"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Sedi" icon-off="ion-ios-home" icon-on="ion-ios-home" href="#/app/sedi">
        <ion-nav-view name="tab-sedi"></ion-nav-view>
      </ion-tab>
    </ion-tabs>

    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <!-- Side Menu (left) -->

  <ion-side-menu side="left">
    <ion-header-bar class="bar-positive">
      <h1 class="title">Joker Dance Club</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list class="list-menu-icon">
        <ion-item item-icon-left menu-close href="#/app/sedi">
          <i class="icon ion-ionic"></i>
          Sedi
        </ion-item>
        <ion-item item-icon-left menu-close href="#/app/corsi">
          <i class="icon ion-ios-people"></i>
          Corsi
        </ion-item>
        <ion-item item-icon-left menu-close href="#/app/serate">
          <i class="icon ion-ios-body"></i>
          Serate Danzanti
        </ion-item>
        <ion-item item-icon-left menu-close href="#/app/albums">
          <i class="icon ion-images"></i>
          Gallery
        </ion-item>
        <ion-item item-icon-left menu-close href="#/app/sedi">
          <i class="icon ion-ios-location"></i>
          Dove Siamo
        </ion-item>
        <ion-item item-icon-left menu-close href="#/app/map-sedi">
          <i class="icon ion-map"></i>
          Map
        </ion-item>
        <ion-item item-icon-left ng-click="nativeShare()">
          <i class="icon ion-android-share-alt"></i>
          Social
        </ion-item>
        <ion-item item-icon-left menu-close href="#">
          <i class="icon ion-email"></i>
          Mail
        </ion-item>
        <ion-item item-icon-left menu-close href="#/app/db">
          <i class="icon ion-ios-flask-outline"></i>
          DB
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
