<ion-view view-title="News" >
  <ion-content class="style-map-card pading">
<div class="event-img">
  <img src="img/8VBP8mORSHymrZOBaqoi_Carnevale-evento.jpg" width="100%" height="auto">
</div>
    <div class="event-info">
		<h4 class="event-title"></h4>
	    <p>Sala 1 Serate Danzante di Liscio e Balli di Gruppo con Luciano e Cinzia.</p>
	</div>

	<a href="#" class="item item-icon-left"><i class="icon  ion-ios-location icon-location "></i>Via Mario Re Depaolini <br> 20015 Parabiago MI,Italia</a>
	<a href="#" class="item item-icon-left"><i class="icon  ion-calendar"></i>Sabato 27 febbraio 2016</a>
	<a href="#" class="item item-icon-left"><i class="icon  ion-android-time"></i>21.30 alle 01.00</a>
  </ion-content>
</ion-view>
