<ion-view title="News">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div class="news-container padding">
      <div class="news-item" ui-sref="app.news-info">
        <h2 class="news-title">Sabato 27 febbraio 2016</h2>
        <p class="news-desc"> Sala 1 Serate Danzante di Liscio e Balli di Gruppo con Luciano e Cinzia.</p>
        <span class="event-time"> <i class="ion-ios-clock-outline"> </i> 21:30</span>
        <span class="news-icon-left"><i class="ion-ios-chatboxes-outline"></i></span>
      </div>
      <div class="news-item" ui-sref="app.news-info">
        <h2 class="news-title"> Sabato 25 febbraio 2016</h2>
        <p class="news-desc">Sala 2 febbraio 2016 Serata Caraibica, Stage di Salsa con Gino e sara.</p>
        <span class="event-time"> <i class="ion-ios-clock-outline"> </i> 21:30</span>
        <span class="news-icon-left"><i class="ion-ios-chatboxes-outline"></i></span>
      </div>
      <div class="news-item" ui-sref="app.news-info">
        <h2 class="news-title">Sabato 13 febbraio 2016</h2>
        <p class="news-desc">Serate Danzante di Liscio e Balli di Gruppo con Luciano e Cinzia </p>
        <span class="event-time"> <i class="ion-ios-clock-outline"> </i> 21:30</span>
        <span class="news-icon-left"><i class="ion-ios-chatboxes-outline"></i></span>
      </div>
      <div class="news-item" ui-sref="app.news-info">
        <h2 class="news-title">Venerdì 10 febbraio 2016</h2>
        <p class="news-desc">Serate Danzante di Liscio e Balli di Gruppo con Luciano e Cinzia </p>
        <span class="event-time"> <i class="ion-ios-clock-outline"> </i> 21:30</span>
        <span class="news-icon-left"><i class="ion-ios-chatboxes-outline"></i></span>
      </div>
      <div class="news-item" ui-sref="app.news-info">
        <h2 class="news-title">Sabato 27 febbraio 2016</h2>
        <p class="news-desc"> Sala 1 Serate Danzante di Liscio e Balli di Gruppo con Luciano e Cinzia.</p>
        <span class="event-time"> <i class="ion-ios-clock-outline"> </i> 21:30</span>
        <span class="news-icon-left"><i class="ion-ios-chatboxes-outline"></i></span>
      </div>
      <div class="news-item" ui-sref="app.news-info">
        <h2 class="news-title"> Sabato 25 febbraio 2016</h2>
        <p class="news-desc">Sala 2 febbraio 2016 Serata Caraibica, Stage di Salsa con Gino e sara.</p>
        <span class="event-time"> <i class="ion-ios-clock-outline"> </i> 21:30</span>
        <span class="news-icon-left"><i class="ion-ios-chatboxes-outline"></i></span>
      </div>
      <div class="news-item" ui-sref="app.news-info">
        <h2 class="news-title">Sabato 13 febbraio 2016</h2>
        <p class="news-desc">Serate Danzante di Liscio e Balli di Gruppo con Luciano e Cinzia </p>
        <span class="event-time"> <i class="ion-ios-clock-outline"> </i> 21:30</span>
        <span class="news-icon-left"><i class="ion-ios-chatboxes-outline"></i></span>
      </div>
      <div class="news-item" ui-sref="app.news-info">
        <h2 class="news-title">Venerdì 10 febbraio 2016</h2>
        <p class="news-desc">Serate Danzante di Liscio e Balli di Gruppo con Luciano e Cinzia </p>
        <span class="event-time"> <i class="ion-ios-clock-outline"> </i> 21:30</span>
        <span class="news-icon-left"><i class="ion-ios-chatboxes-outline"></i></span>
      </div>
  </div>
</ion-content>
</ion-view>
