<ion-view view-title="Sede Info">
  <ion-content class="style-map-card">

    <div id="map-container" data-tap-disabled="true"></div>

	<h4 class="text-center padding-top">{{ location.name }}</h4>
	<p class="style-map-subtitle">( {{ location.desc }} )</p>

	<a href="#" class="item item-icon-left"><i class="icon  ion-ios-location icon-location"></i>{{ location.address }} <br> {{ location.city }}</a>
	<a href="#" class="item item-icon-left"><i class="icon  ion-earth"></i>jokerdance.it</a>
	<a href="tel:{{ location.tel | nospace }}" class="item item-icon-left"><i class="icon  ion-android-call"></i>{{ location.tel }}</a>

  </ion-content>
</ion-view>
