<ion-view title="Sedi">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <a class="button button-positive active button-block button-small" href="#/app/map-sedi">VEDI TUTTE LE SEDE</a>
        </div>
        <ion-list class="event-container" ng-repeat="sede in locations">
            <ion-item class="item item-avatar" href="#/app/sede-info/{{sede.id}}">
                <img src="{{ sede.img}}">
                <h2>{{ sede.name }}</h2>
                <p>{{ sede.address }} - {{ sede.city }}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
