<ion-view title="Serate Danzante">
  <ion-content overflow-scroll="true" padding="true" class="has-header">


       <!-- <button class="button button-block button-assertive" ng-click="nativeShare()">Native Share</button> -->

    <div class="serate-container" >

      <div class="list card">
        <div class="item-container" ui-sref="app.serate-info">
          <div class="item item-image">
            <img class="img-filter" src="img/8VBP8mORSHymrZOBaqoi_Carnevale-evento.jpg" width="100%" height="120">
          </div>
          <div class="item item-body">
            <h4 class="serate-title">GRANDE FESTA DI CARNEVALE</h4>
            <p class="serate-desc">This is a "Facebook" styled Card. The header is created ...</p>
          </div>
        </div>
        <div class="item item-divider">
          <div class="row">
            <div class="col-75">
              <p class="serate-date">Sabato 13 febbraio 2016</p>
            </div>
            <div class="col-15"><i class="ion-android-favorite-outline"></i></div>
            <div class="col-15"><i class="ion-android-share-alt" ng-click="nativeShare()"></i></p>
            </div>
          </div>
        </div>
      </div>

        <div class="list card">
          <div class="item-container" ui-sref="app.serate-info">
            <div class="item item-image">
              <img class="img-filter" src="img/8VBP8mORSHymrZOBaqoi_Carnevale-evento.jpg" width="100%" height="120">
            </div>
            <div class="item item-body">
              <h4 class="serate-title">GRANDE FESTA DI CARNEVALE</h4>
              <p class="serate-desc">This is a "Facebook" styled Card. The header is created ...</p>
            </div>
          </div>
          <div class="item item-divider">
            <div class="row">
              <div class="col-75">
                <p class="serate-date">Sabato 13 febbraio 2016</p>
              </div>
              <div class="col-15"><i class="ion-android-favorite-outline"></i></div>
              <div class="col-15" ><i class="ion-android-share-alt" ng-click="nativeShare()"></i></p>
              </div>
            </div>
          </div>
        </div>

        <div class="list card">
          <div class="item-container" ui-sref="app.serate-info">
            <div class="item item-image">
              <img class="img-filter" src="img/8VBP8mORSHymrZOBaqoi_Carnevale-evento.jpg" width="100%" height="120">
            </div>
            <div class="item item-body">
              <h4 class="serate-title">GRANDE FESTA DI CARNEVALE</h4>
              <p class="serate-desc">This is a "Facebook" styled Card. The header is created ...</p>
            </div>
          </div>
          <div class="item item-divider">
            <div class="row">
              <div class="col-75">
                <p class="serate-date">Sabato 13 febbraio 2016</p>
              </div>
              <div class="col-15"><i class="ion-android-favorite-outline"></i></div>
              <div class="col-15"><i class="ion-android-share-alt" ng-click="nativeShare()"></i></p>
              </div>
            </div>
          </div>
        </div>

    </div>
  </ion-content>
</ion-view>
